/* Custom CSS for the carousel container */
.carousel-container {
    max-width: 100%;
    max-height: 5%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  
  /* Custom CSS for the carousel indicators */
  .carousel-indicators {
    bottom: 0;
  }
  
  .carousel-indicators li {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-indicators .active {
    background-color: #007bff;
  }
  
  /* Custom CSS for the carousel controls */
  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
  
    padding: 15px;
    opacity: 0.7;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: #333;
    opacity: 1;
  }
  
  /* Custom CSS for the carousel captions */
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    bottom: 20px;
    left: 285px;
    right: 285px;
    position: absolute;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.3s ease;
  }
  
  .carousel-caption h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .carousel-caption p {
    font-size: 16px;
  }
  
  /* Custom CSS to hide captions initially */
  .carousel-item:not(.active) .carousel-caption {
    transform: translateY(100%);
  }
  