.containerSize {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  
  }
  
  h3 {
    font-size: 24px;
    color: #333;
    margin: 0px 0;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    margin: 0 auto;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #f0f0f0;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #e0e0e0;
  }
  
  table td p {
    margin: 0;
  }
  
  .faqContent {
    margin: 20px 0;
    margin-bottom: 45px;
  }
  
  .faqContent strong {
    color: #cc1818;
  }
  
  .faqContent a {
    color: #cc1818;
    text-decoration: none;
  }
  
  .faqContent a:hover {
    text-decoration: underline;
  }
  
  /* Media Query for Tablets and Smaller Screens */
  @media (max-width: 768px) {
    .container {
      margin: 10px;
    }
  
    h3 {
      font-size: 20px;
      margin: 10px 0;
    }
  
    table {
      margin: 10px auto;
    }
  }
  
  /* Media Query for Mobile Phones */
  @media (max-width: 480px) {
    h3 {
      font-size: 18px;
      margin: 5px 0;
    }
  
    table {
      margin: 5px auto;
    }
  
    table th, table td {
      padding: 8px;
      font-size: 14px;
    }
  }