/* navbar */
.navbar{
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
  }
  
  @media(max-width: 450px){
    .navbar{
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .navbar .logo{
    width: 150px;
    height: auto;
  }
  
  .navbar .logo img{
    width: 100%;
    height: 100%;
  }
  
  .navbar .rightside{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    margin-right: 24px;
    align-items: center;
  }
  
  @media(max-width: 450px){
    .navbar .rightside{
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      margin-right: 0px;    
    }
  }
  
  .navbar .rightside div{
    margin: 0px 10px;  
  }
  
  @media(max-width: 450px){
    .navbar .rightside div{
      margin: 10px 0px;    
    }
  }
  
  .navbar .rightside div .navlink{
    text-decoration: none;
    color: #000;
  }